/* --primary-color: #BED4B5; Sage Green 
            --secondary-color: #FDFBF7;  Soft White/Cream 
            --text-color: #4D2E07;  TExt color - dark-chocolate
            --accent-color: #f8f5ed;  Warm Sand 
            --dark-green: #214536
            --dark-beige: #c7a47f 
*/

body {
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #4D2E07;
    background-color: #f8f5ed;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#BED4B5 , #6c7b88 95%) ;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 100;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #4D2E07;
}

nav a:hover {
    color: #f8f5ed;
}

main {
    margin-top: 80px;
}

article h2 {
    font-size: 3em;
}

#home {
    background: url(./assets/hero-background.jpg) no-repeat center / cover;
    padding: 2em;
    color: #4D2E07;
    /* height: 500px; */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: space-between;
    align-items: start;  */
}

.hero {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center; 
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
    margin: 0;
}

.hero button {
    margin: 5em 0;
    padding: 0.8em 2em;
    border-radius: 1.5em;
    font-size: 1em;
    color: #4D2E07;
    background-color: #BED4B5;
    border: 2px solid #4D2E07;
}

.hero button:hover {
    color: #BED4B5;
    background-color: #4D2E07;
    border: 2px solid #BED4B5;
}

#about {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-info {
    margin-top: 1em;
    display: grid;
    grid-template-areas: 
    "a b"
    "a b";
    align-items: center;
    gap: 2em;
    padding: 0 2em;
}

.about-text {
    grid-area: a;
    width: 100%;
}

.about-info img {
    grid-area: b;
    width: 100%;
    border-radius: 2em;
}
/*
.about-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.about-text {
    width: 40%;
    font-size: 1.2em;
}

.about-info img {
    width: 40%;
    border-radius: 2em;
} */

#services {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-cards {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
    border: 2px solid #4D2E07;
    border-radius: 2em;
    padding: 1em;
    box-shadow: 4px 4px 20px #4D2E07;
}

article img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1em 0;
}

article h4 {
    margin: 1em 0;
}

#contact {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    align-items: center;
    background-color: #BED4B5;
    padding: 2em;
    color: #4D2E07;
    border-radius: 2em;
    border: 2px solid #214536;
    box-shadow: 2px 2px 10px #214536;
}

#contact input, textarea {
    background-color: #FDFBF7;
    border: 1px solid #c7a47f;
    border-radius: 2em;
    padding: 1em;
    resize: none;
}

#contact input, textarea:focus {
    outline-color: #4D2E07;
    background-color: #f8f5ed;
}

textarea::-webkit-scrollbar {
    display: none;
}

#contact button {
    grid-column: 1 / span 2;
    width: 50%;
    justify-self: center;
    padding: 1em 2em;
    border: 2px solid #214536;
    border-radius: 2em;
    background-color: #f8f5ed;
    color: #4D2E07;
}

#contact button:hover {
    border: 2px solid #c7a47f ;
    background-color: #4D2E07;
    color: #f8f5ed;
}

footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    width: 100%;

}

.contact-info {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    text-align: center;
}

#link1 {
    grid-column: 1 / span 3;
}

#link2 {
    grid-column: 4 / span 3;
}

#link3 {
    grid-column: 1 / span 2;
}

#link4 {
    grid-column: 3 / span 2;
}

#link5 {
    grid-column: 5 / span 2;
}

footer a[href="#"] {
    color: #4D2E07;
    font-size: 2em;
}

footer a:hover, 
footer li:hover {
    color: #c7a47f;
}

footer a {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #4D2E07;
}

footer p {
    margin-top: 2em;
}

@media (max-width:992px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.1em;
        margin: 0.5em 0;
    }

    .hero button {
        margin: 3em 0;
    }

    .services-cards {
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        gap: 2em;
        margin: 1em 0;
        margin-left: 1em;
    }

    .service {
        width: 40%;
        flex-shrink: 0;
        flex-grow: 0;
        scroll-snap-align: start;
        box-shadow: 2px 2px 5px #4D2E07;
    }
}

@media (max-width: 769px) {
    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 1em;
        margin: 0;
    }

    .hero button {
        margin-top: 2em;
    }

    .hero button:hover {
        color: #BED4B5;
        background-color: #4D2E07;
        border: 2px solid #BED4B5;
    }

    #about {
        margin-top: 1em;
    }

    .about-info {
        margin-top: 0;
        display: grid;
        grid-template-areas: 
        "a"
        "b";
    }

    .about-text {
        grid-area: a;
        width: 100%;
    }

    .about-info img {
        grid-area: b;
        width: 100%;
    }

    #services {
        margin-top: 1em;
    }

    .services-cards {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        margin-left: 0;
    }

    .service {
        width: 50%;
        text-align: center;
        border: 2px solid #4D2E07;
        border-radius: 2em;
        padding: 1.5em;
        box-shadow: 4px 4px 20px #4D2E07;
    }

    #contact {
        margin-top: 1em;
    }

    #contact h4 {
        margin-bottom: 2em;
    }

    #contact form {
        width: 60%;
        gap: 2em;
        justify-items: center;
    }

    #contact input, textarea {
        width: 100%;
        box-sizing: border-box;
    }

    #contact textarea {
        padding: 0;
    }

    #contact input, textarea:focus {
        outline-color: #4D2E07;
        background-color: #f8f5ed;
    }

    footer {
        margin-top: 1em;
    }

    .contact-info {
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        gap: 2em;
        text-align: center;
    }

    #link1 {
        grid-row: 1;
        grid-column: 1;
    }

    #link2 {
        grid-row: 2;
        grid-column: 1;
    }

    #link3 {
        grid-row: 3;
        grid-column: 1;
    }

    #link4 {
        grid-row: 4;
        grid-column: 1;
    }

    #link5 {
        grid-row: 5;
        grid-column: 1;
    }
}